@import "tailwindcss";
.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url(/bgImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPageContainer nav {
  padding-inline: 2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
   cursor: pointer;

}
.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;

}
.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  color: aliceblue;
     cursor: pointer;

}
.landingMainContainer {
height: 70vh;
align-items: center;
display: flex;
justify-content: space-between;
padding-inline: 3rem;
}
.landingMainContainer>div:nth-child(1) {
font-size: 2.2rem;
}
.landingMainContainer>div:nth-child(1) div[role='button']{
  margin-top: 10px;
}
.landingMainContainer>div:nth-child(2) {
height: 70vh;
width: auto;
}
